PORT=3004
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=student_documents_db

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_S3_BUCKET_NAME=student-document-system
AWS_CLOUDWATCH_LOG_GROUP=/student-document-system
AWS_CLOUDWATCH_LOG_STREAM=document-system-server
AWS_SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:document-upload-notification